{% load static %}

<div class="container px-4 mx-auto">
    <h2 class="mt-8 mb-24 text-8xl md:text-10xl xl:text-11xl font-heading font-medium text-center">O nas</h2>
    <div class="relative flex flex-wrap -mx-4 mb-20 lg:mb-32">
        <div class="hidden md:block absolute top-0 left-0 ml-40 mt-10 py-6 w-72 lg:w-60 border-t-2 border-r-2 border-blue-500 rounded-tr-xl z-10"></div>
        <div class="hidden lg:block absolute top-0 left-1/2 ml-40 mt-10 py-6 w-60 border-t-2 border-r-2 border-blue-500 rounded-tr-xl z-10"></div>
        <div class="hidden md:block lg:hidden absolute top-1/2 left-0 ml-40 mt-20 py-6 w-72 border-t-2 border-r-2 border-blue-500 rounded-tr-xl z-10"></div>
        <div class="relative w-full md:w-1/2 lg:w-1/4 px-4 mb-20 md:mb-0 bg-white">
            <div class="avatar mb-12">
                <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="{% static 'img/testimonials/ronaldo.png' %}">
                </div>
            </div>
            <h3 class="mb-2 text-3xl font-medium">Cristiano Ronaldo</h3>
            <p class="mb-8 text-xl font-heading">bez klubu</p>
            <p class="text-base text-gray-400 leading-relaxed">Zerwanie kontraktu z Manchesterem otwiera mi szansę do
                spełniania marzenia. Chcę zagrać w Dziadach przed zakończeniem kariery!</p>
        </div>
        <div class="relative w-full md:w-1/2 lg:w-1/4 px-4 mb-20 lg:mb-0 md:mt-32 bg-white">
            <div class="avatar mb-12">
                <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="{% static 'img/testimonials/guardiola.jpeg' %}" alt="">
                </div>
            </div>
            <h3 class="mb-2 text-3xl font-medium">Pep Guardiola</h3>
            <p class="mb-8 text-lg">Manchester City</p>
            <p class="text-base text-gray-400 leading-relaxed">Oglądam ich każdy mecz! Próbuję naśladować ich pomysły -&nbsp;
                sprowadziliśmy Halaanda, żeby grać lagę na Robercika.</p>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-20 md:mb-0 bg-white">
            <div class="avatar mb-12">
                <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="{% static 'img/testimonials/lewy.jpeg' %}">
                </div>
            </div>
            <h3 class="mb-2 text-3xl font-medium">Robert Lewandowski</h3>
            <p class="mb-8 text-xl font-heading">FC Barcelona</p>
            <p class="text-base text-gray-400 leading-relaxed">Gdybym grał w dziadach strzeliłbym 100, 200, 300 goli...
                W reprezentacji nikt nie potrafi zagrać mi dobrej lagi.
            </p>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4 md:mt-32 bg-white">
            <div class="avatar mb-12">
                <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="{% static 'img/testimonials/xavi-hernandez.jpeg' %}">
                </div>
            </div>
            <h3 class="mb-2 text-3xl font-medium">Xavi Hernandez</h3>
            <p class="mb-8 text-xl font-heading">FC Barcelona</p>
            <p class="text-base text-gray-400 leading-relaxed">El laga al Robercik es tactica muy ellegante!</p>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Zobacz więcej</button>
    </div>
</div>