{% load static %}

<div class="relative">
    <div class="px-4 mx-auto bg-white">
        <div class="md:grid md:grid-cols-2 md:pt-16">
            <div class="relative flex items-end mb-20 md:mb-0">
                <div>
                    <img class="z-10 relative xl:p-20" src="{%static 'img/logo.jpeg' %}" alt=""></div>
            </div>
            <div class="container relative px-4 mx-auto">
                <div class="relative 2xl:mt-36 mx-auto md:text-center">
                    <span class="block mb-9 font-medium uppercase tracking-widest text-xs text-gray-300">(Bardzo) amatorski klub piłkarski</span>
                    <h1 class="xl:max-w-xl mb-9 xl:mx-auto font-heading font-medium text-9xl md:text-10xl xl:text-13xl leading-none"
                        contenteditable="false">Gołkowskie Dziady</h1>
                    <p class="xl:max-w-sm mb-16 xl:mx-auto font-normal text-xl leading-8 text-darkBlueGray-400"
                       contenteditable="false"></p>
                    <button class="btn btn-primary btn-lg">Dołacz do nas</button>
                </div>
            </div>
        </div>
    </div>
</div>