{% load static %}

<div class="container px-4 mx-auto">
    <h2 class="mb-16 font-heading font-medium text-center leading-relaxed text-8xl xl:text-11xl md:text-10xl">
        Trofea</h2>
    <div class="flex flex-wrap -mx-2">
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 xl:mb-0">
            <div class="flex items-center bg-gray-50 rounded-9xl py-4 px-10">
                <div class="flex items-center justify-center bg-white w-16 h-16 rounded-5xl shadow-sm">
                    <img class="h-12" src="{% static 'img/trophies/champions-league.jpeg' %}" alt="">
                </div>
                <p class="ml-6 text-xl font-heading font-medium" contenteditable="false">0</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 xl:mb-0">
            <div class="flex items-center py-4 lg:mt-16 bg-gray-50 rounded-9xl px-10">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
                    <img class="pl-3 h-14" src="{% static 'img/trophies/wordcup.jpg' %}" alt="">
                </div>
                <p class="ml-6 text-xl font-heading font-medium" contenteditable="false">0</p>
            </div>
        </div>
        <div class="hidden xl:block xl:w-1/5 px-2 mb-6 xl:mb-0">
            <div class="flex items-center py-4 lg:mt-16 bg-gray-50 rounded-9xl px-10">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
                    <img class="h-12 w-8" src="{% static 'img/trophies/premierleague.jpeg' %}" alt="">
                </div>
                <p class="ml-6 text-xl font-heading font-medium" contenteditable="false">0</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 lg:mb-0">
            <div class="flex items-center py-4 px-5 lg:mt-16 bg-gray-50 rounded-9xl px-10">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
                    <img class="h-12" src="{% static 'img/trophies/euro.jpg' %}" alt="">
                </div>
                <p class="ml-6 text-xl font-heading font-medium" contenteditable="false">0</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 lg:mb-0">
            <div class="flex items-center py-4 px-5 bg-gray-50 rounded-9xl px-10">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
                    <img class="h-12" src="{% static 'img/trophies/laliga.jpeg' %}" alt="">
                </div>
                <p class="ml-6 text-xl font-heading font-medium" contenteditable="false">0</p>
            </div>
        </div>
        <div class="xl:hidden w-full md:w-1/2 lg:w-1/4 px-2 mx-auto">
            <div class="flex items-center py-4 px-5 bg-gray-50 rounded-9xl px-10">
                <div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
                    <img class="h-12 w-8" src="{% static 'img/trophies/premierleague.jpeg' %}" alt="">
                </div>
                <p class="ml-6 text-xl font-heading font-medium">0</p>
            </div>
        </div>
    </div>
</div>