{% load static %}

<section class="pb-20 md:pb-0 overflow-hidden">
    <div class="text-gray-50 font-heading font-medium relative bg-blueGray-100">
        <nav class="flex justify-between px-6 lg:px-12 py-8 bg-white">
            <div class="flex w-full items-center justify-between">
                <a href="#">
                    <img class="h-12" src="{% static 'img/logo.jpeg' %}" alt=""></a>
                <div class="text-black text-3xl p-2"> Gołkowskie Dziady</div>
                <button class="navbar-burger mx-auto px-4 hidden xl:block hover:text-blueGray-800 focus:outline-none">
                    <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="25" height="2" fill="currentColor"></rect>
                        <rect y="14" width="25" height="2" fill="currentColor"></rect>
                    </svg>
                </button>
                <div class="relative hidden xl:block">
                    <img class="absolute top-1/2 transform -translate-y-2/4 pl-6 mt-px"
                         src="uinel-assets/elements/navigations/search-gray-icon.svg" alt=""></div>
            </div>
            <button class="navbar-burger self-center xl:hidden text-gray-400 hover:text-gray-500 focus:outline-none">
                <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="2" fill="currentColor"></rect>
                    <rect y="14" width="25" height="2" fill="currentColor"></rect>
                </svg>
            </button>
        </nav>
        <div class="navbar-menu hidden fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
            <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
            <button class="navbar-close absolute top-5 p-6 right-5">
                <div class="absolute top-3">
                    <span class="absolute w-px h-6 bg-black transform -rotate-45"></span>
                    <span class="absolute w-px h-6 bg-black transform rotate-45"></span>
                </div>
            </button>
        </div>
    </div>
    <div class="relative">
        <div class="px-4 mx-auto bg-white">
            <div class="md:grid md:grid-cols-2 md:pt-16">
                <div class="relative flex items-end mb-20 md:mb-0">
                    <div>
                        <img class="z-10 relative xl:p-20" src="{%static 'img/logo.jpeg' %}" alt=""></div>
                </div>
                <div class="container relative px-4 mx-auto">
                    <div class="relative 2xl:mt-36 mx-auto md:text-center">
                        <span class="block mb-9 font-medium uppercase tracking-widest text-xs text-gray-300">(Bardzo) amatorski klub piłkarski</span>
                        <h1 class="xl:max-w-xl mb-9 xl:mx-auto font-heading font-medium text-9xl md:text-10xl xl:text-13xl leading-none"
                            contenteditable="false">Gołkowskie Dziady</h1>
                        <p class="xl:max-w-sm mb-16 xl:mx-auto font-normal text-xl leading-8 text-darkBlueGray-400"
                           contenteditable="false"></p>
                        <a class="inline-block py-4 px-10 mb-12 md:mb-32 font-heading font-medium tracking-tighter text-xl text-white bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
                           href="#" type="button" contenteditable="false">Dołącz do nas<br></a>
                        <button class="hidden lg:block relative bottom-0 max-w-max ml-auto">
                            <img class="h-24 xl:h-auto" src="uinel-assets/elements/heroes/scroll-down.svg" alt="">
                        </button>
                        <div class="hidden md:block absolute md:-bottom-12 lg:bottom-0 -left-1/2 z-10 -ml-8 lg:-ml-28">
                            <img class="hidden md:block absolute top-0 lg:top-12 right-0 transform translate-x-1/2 z-10 xl:-mr-16"
                                 src="uinel-assets/elements/heroes/arrow-up.svg" alt="">
                            <div class="relative -top-12 lg:-top-7 px-5">
                                <div class="py-6 bg-white bg-opacity-70 rounded-lg"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>