{% load static %}

<nav class="navbar bg-base-100 px-64 py-8">
    <div class="navbar-start gap-4">
        <div class="avatar">
            <div class="h-12 rounded-xl">
                <a href="#">
                    <img src="{% static 'img/logo.jpeg' %}">
                </a>
            </div>
        </div>
        <div class="text-2xl font-black"> Gołkowskie Dziady </div>
        <div class="divider divider-horizontal"></div>
        <button class="btn btn-ghost normal-case">Liczby</button>
        <button class="btn btn-ghost normal-case">Mecze</button>
    </div>
    <div class="navbar-end gap-2">
        <button class="btn bt-primary btn-ghost">Logowanie</button>
        <button class="btn btn-primary">Rejestracja</button>
    </div>
</nav>